<div class="details-wrapper container">
    <h2>{{usersService.selected.name}} details!</h2>
    <div>
        <label>Edit Email:</label>
        <input type="email" id="email" class="form-control" required minlength="4" maxlength="24" name="email" #email="ngModel" [(ngModel)]="usersService.selected.email" placeholder="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
        <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
            <div [hidden]="!email.errors.required">
                Email is required
            </div>
            <div [hidden]="!email.errors.pattern">
                Check the provided email.
            </div>
        </div>
    </div>
    <div>
        <label>Edit Name:</label>
        <input type="text" id="name" class="form-control" required minlength="4" maxlength="24" name="name" #name="ngModel" [(ngModel)]="usersService.selected.name" placeholder="name" />
        <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
            <div [hidden]="!name.errors.required">
                Name is required
            </div>
            <div [hidden]="!name.errors.minlength">
                Name must be at least 4 characters long.
            </div>
            <div [hidden]="!name.errors.maxlength">
                Name cannot be more than 24 characters long.
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="usersService.saveChanges()">Save</button>
    <button type="button" class="btn btn-warning" (click)="prevPage()">Back</button>
</div>
