<form>
    <div class="form-group">
        <label for="newName">Enter username</label>
        <input type="text" class="form-control" id="newName" placeholder="Enter username" [(ngModel)]="newName" name="newName">
    </div>
    <div class="form-group">
        <label for="newEmail">Email address</label>
        <input type="email" class="form-control" id="newEmail" placeholder="Enter email" [(ngModel)]="newEmail" name="newEmail">
    </div>
    <button type="button" class="btn btn-primary" (click) ="addNew()">Add User</button>
</form>
