<div class="container">
    <nav>
        <div class="title">
            <h3>{{title | uppercase}}</h3>
        </div>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" routerLink="/users">USERS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/add">ADD USER</a>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-warning" (click)="usersService.removeAll()">Remove All</button>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>
