.list-wrapper {
	color: #838386;
	margin-top: 10px;
}

thead {
	color: #000;
	text-transform: uppercase;
}

.table thead th,
.table thead td {
	vertical-align: middle;
}

button {
	font-size: 1.1em;
}

h2,
input {
    display: inline-flex;
}

